<ul>
    <p>
    <h1> O nas </h1>
    <p>
    <ul>
        <p>
        <h3>Jak to wszystko się zaczęło…</h3>
        <ul>
            Na początku było tylko marzenie… Początek lat 80-tych. Czternastoletni chłopak ze Szczytna zapragnął mieć deskę windserfinową. 
            Nie mógł jej kupić, więc postanowił, że zrobi ją sam. Nie zrażało go nic, nawet to, że maszt do niej musiał sam przenieść na rękach 14 km (!). 
            Potem przyszedł czas na jachty. Pierwszą Sportinę 595 zbudował na działce rodziców cztery lata później, a gdy kończył studia miał już 5 jachtów na Mazurach. 
            Kiedy doszedł do wniosku, że sezon żeglarski w Polsce trwa zdecydowanie za krótko, sprzedał wszystkie jachty i zrobił to o czym marzył od dawna … wyczarterował jacht w Grecji. 
            To był właśnie początek powstawania firmy, która od tamtej pory wyczarterowała kilkanaście tysięcy jachtów na całym świecie.
        </ul>

        <p>
        <h3>Pierwszy czarter na ciepłych wodach</h3>
        <ul>
            Tego pierwszego czarteru w Grecji, nie sposób zapomnieć. W czasach, gdy jeszcze nie było internetu, a wszystkie doświadczenia trzeba było zbierać „na własnej skórze”. 
            Jak wtedy, gdy sonar zaczął swoim ogłuszającym wyciem sygnalizować, że stoimy na mieliźnie, a przecież byliśmy na środku morza (!). 
            Albo, gdy okazało się, że ciągnięcie pontonu za jachtem nie jest wcale dobrym pomysłem. 
            Gwałtowny wiatr, który pojawił się nie wiadomo skąd, zerwał ponton, a wielce mówiący okrzyk załogi „nasza kaucja” dał impuls by ruszyć za nim w pogoń. 
            Od tych wydarzeń minęło sporo czasu i wiele tysięcy mil morskich jest za nami. Śmiejemy się z rzeczy, które na początku nas przerażały. Z każdym sezonem żeglarskim rośnie bagaż doświadczeń. 
            Doświadczeń, którymi chętnie się dzielimy, i które sprawiają że rośnie nasza miłość, lecz również i respekt, do morza.
        </ul>
    </ul>
</ul>

