<div class="d-flex flex-row flex-shrink-0 p-3 text-white bg-main"
  style="width: auto; height: 100px; box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.25);">
  <img src="assets/yachCharterLogo.png" alt="logo" class="mt-1 mx-2" routerLink="/">

            <button pButton type="button" class="p-button-text" routerLink="/about">
              <span class="mx-2 fs-5">O FIRMIE</span>
            </button>
            <button pButton type="button" class="p-button-text" routerLink="/yachtList">
              <span class="mx-2 fs-5">LISTA JACHTÓW</span>
            </button>
            <button pButton type="button" class="p-button-text" routerLink="/schedules">
              <span class="mx-2 fs-5">TEMINARZE JACHTÓW</span>
            </button>
            <button pButton type="button" class="p-button-text" routerLink="/infoCompany">
              <span class="mx-2 fs-5">INFORMACJE TELEADRESOWE</span>
            </button>
      </div>